* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ececec;
  font-family: "Libre Caslon Text", serif;
  font-family: "Roboto", sans-serif;
}

/* ========= 導覽列 =========== */
header.header{
  position: sticky;
  top: 0;
  z-index: 2;
}

header.header div.block {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #cccccc;

}

header.header nav.nav {
  /* border: 1px solid darkgreen; */
  /* background-color: rgb(0, 0, 0); */
  width: 1150px;
  display: flex;
  margin: 0 auto;
  /* position: relative; */
}

header.header nav.nav a.logo {
  width: 140px;
  height: 60px;
  margin: 0;
}

header.header nav.nav a.logo > img {
  display: inline-block;
  vertical-align: bottom;
  width: 200px;
  height: 50px;
  margin-top: 4px;
}
/* ============ 導覽列 選單 ========= */

header.header ul.ul_list {
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  
}

header.header ul.ul_list li {
  /* border: 1px salmon; */
  list-style: none;
  height: 60px;
}

header.header ul.ul_list li:hover ul{
  display: block;
}

header.header ul.essay{
  /* border: 1px solid red; */
  position: absolute;
  width: 200px;
  height: 150px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  top: 65%;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 2px 2px 2px #cccccc;
  display: none;
  
  
}

header.header ul.essay li{
  
  /* border: 1px solid blue; */
  margin-top: 5px;
  
  
}



header.header ul.essay li a{
  
  /* border: 2px solid olive; */
  display: block;
  padding: 10px;
  height: 30px;
  margin: 0;
  
}

header.header ul.ul_list > li a {
  /* border: 1px solid darkgreen; */
  text-decoration: none;
  color: rgb(50, 50, 50);
  display: inline-block;
  margin: 0 30px;
  margin-top: 20px;
}

header.header ul.ul_list li a:hover {
  color: rgb(103, 103, 103);
  transform: scale(1.1);
  
}



/* ============ 導覽列 icon ========= */
header.header div.nav_icon {
  display: inline-block;
  /* border: 1px solid darkgreen; */
  position: absolute;
  right: 0;
  margin-top: 10px;
}

header.header div.nav_icon a {
  display: inline-block;
  text-decoration: none;
  /* border: 1px solid darkgreen; */
}

header.header div.nav_icon a img {
  /* border: 1px solid darkorchid; */
  display: inline-block;
  margin: 4px 6px;
  width: 23px;
  height: 23px;
}
/* ========= 首頁 / 潮流話題 / 球鞋激推 =========== */

main.main div.sort ul.sort_display {
  margin: 0;
  /* border: 1px solid green; */
  padding: 0;
  display: flex;
  height: 40px;
  align-items: center;
  background-color: #eeeeee;
}

main.main div.sort ul.sort_display li {
  list-style: none;
  /* border: 1px solid darkblue; */
  margin-left: 10px;
}

main.main div.sort ul.sort_display li > a:hover{
  color: gray
}

main.main div.sort ul.sort_display li::before {
  content: "/";
  
}

main.main div.sort ul.sort_display > li:first-child::before {
  display: none;
}

main.main ul.sort_display > li a :hover{
  color: aqua;
}

main.main div.sort ul.sort_display li > a {
  /* border: 1px solid  blueviolet; */
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 12px;
  margin-left: 5px;
}
/* ========== main left ================ */
main.main{
  background-color: #cccccc;
}

main.main div.sec_flex{
  /* border: 1px solid blue; */
  display: flex;
  padding: 20px;
  background-color: #fff;
  flex-wrap: wrap;
 
}

main.main div.sec_flex div.left{
  /* border: 1px solid red; */
  width: 600px;
  /* height: 600px; */
  margin: 0 auto;
  margin-left: 70px;
}


main.main div.sec_flex div.left div.img_block span{
  /* border: 1px solid rgb(26, 13, 166); */
  display: flex;
  flex-direction: column;
  
}

main.main div.sec_flex div.left div.img_block span a > img{
  border: 2px solid black;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 13px;

}

main.main div.sec_flex div.left div.img_block span{
  display: blocks;
  /* border: 1px solid rgb(0, 255, 0); */
  margin-left: 50px;
  
}

main.main div.sec_flex div.left div.img_block2{
  margin-left: 20px;
  /* border: 1px solid darkred; */
  width: 415px;
  height: 415px;
}

main.main div.sec_flex div.left div.img_block2 > img{
  width: 100%;
  vertical-align: bottom;
}



main.main div.sec_flex div.left{
  display: flex;
  justify-content: space-around;
}

/* ========== main right ================ */
main.main div.sec_flex div.right{
  /* border: 1px solid rgb(255, 2, 255); */
  width: 435px;
  height: 570px;
  margin: 0 auto;
  max-width: 500px;
  margin-right: 70px;
}

div.right div.product{
/* border: 1px solid red; */
max-width: 500px;
}

div.right div.product div.content{
  /* border: 1px solid rgb(255, 140, 0); */
  margin-top: 50px;
}

div.right div.product div.content span{
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

div.right div.product div.content span:first-child{
  font-size: 20px;
  font-weight: bold;
}

div.right div.product div.content span:last-child{
  text-decoration: line-through;
}

div.right div.product div.size{
  /* border: 1px solid darkgreen; */
}

div.right div.product div.size div.uk{
  /* border: 1px solid rgb(35, 109, 47); */
  margin-top: 30px;
}

div.right div.product div.size div.uk p{
  /* border: 1px solid gold; */
  font-size: 12px;
  margin-left: 10px;
}

div.right div.product div.size div.uk div.btn{
  /* border: 1px solid indigo; */
}

div.right div.product div.size div.uk div.btn button{
  border: 1px solid #cccccc;
  margin: 10px;
  border-radius: 4px;
  height: 40px;
  background-color: #fff;
}

/* ============ 購物車按鈕 ========== */
div.right div.product div.size div.shopcar button{
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: black;
  width: 100%;
  margin-top: 40px;
}
/* ============ 商品描述 / 送貨付款 ========== */
div.sec_flex div.under_box{
  /* border: 1px solid blue; */
  width: 100%;
}

div.sec_flex div.under_box ul.describe{
  /* border: 1px solid red; */
  padding: 0;
  display: flex;
  justify-content: space-around;
}

div.sec_flex div.under_box ul.describe li{
  border-bottom: 2px solid #cccccc;
  list-style: none;
  
}

div.sec_flex div.under_box ul.describe li>a{
  display: inline-block;
  text-decoration: none;
  color: #8c8c8c;
  padding: 20px;
  width: 406px;
  text-align: center;
  font-weight: bold;
}

div.sec_flex div.under_box div p {
  text-align: center;
font-weight: bold;
color: black;
}

div.sec_flex div.under_box div.img_center img{
  width: 50%;
  display: block;
  margin: 0 auto;
  
}
/* ============ footer ========== */

footer div.footer_flex {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

footer div.customer {
  /* border: 2px solid purple; */
}

footer div.customer ul {
  padding: 0;
}

footer div.customer ul li > a {
  text-decoration: none;
  display: block;
  color: rgb(50, 50, 50);
  margin-bottom: 5px;
  font-size: 14px;
}

footer div.customer ul > li {
  list-style: none;
}

footer div.connection {
  /* border: 2px solid darkgoldenrod; */
}

footer div.connection ul > li {
  list-style: none;
}

footer div.connection ul {
  padding: 0;
}

footer div.community p {
  width: 150px;
  margin: 0 auto;
}

footer div.community p a {
  margin: 0 10px;
}

footer div.community p a > img {
  width: 20px;
  height: 20px;
}

footer p.reference {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 45, 45);
  font-weight: bold;
}
