* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ececec;
  font-family: "Libre Caslon Text", serif;
  font-family: "Roboto", sans-serif;
}

/* ========= 導覽列 =========== */
header.header{
  position: sticky;
  top: 0;
  z-index: 2;
}

header.header div.block {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px #cccccc;

}

header.header nav.nav {
  /* border: 1px solid darkgreen; */
  /* background-color: rgb(0, 0, 0); */
  width: 1150px;
  display: flex;
  margin: 0 auto;
  /* position: relative; */
}

header.header nav.nav a.logo {
  width: 140px;
  height: 60px;
  margin: 0;
}

header.header nav.nav a.logo > img {
  display: inline-block;
  vertical-align: bottom;
  width: 200px;
  height: 50px;
  margin-top: 4px;
}
/* ============ 導覽列 選單 ========= */

header.header ul.ul_list {
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  
}

header.header ul.ul_list li {
  /* border: 1px salmon; */
  list-style: none;
  height: 60px;
}

header.header ul.ul_list li:hover ul{
  display: block;
}

header.header ul.essay{
  /* border: 1px solid red; */
  position: absolute;
  width: 200px;
  height: 150px;
  padding: 0;
  background-color: white;
  top: 65%;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 2px 2px 2px #cccccc;
  display: none;
  
  
}

header.header ul.essay li{
  
  /* border: 1px solid blue; */
  margin-top: 5px;
  
  
}



header.header ul.essay li a{
  
  /* border: 2px solid olive; */
  display: block;
  padding: 10px;
  height: 30px;
  margin: 0;
  
}

header.header ul.ul_list > li a {
  /* border: 1px solid darkgreen; */
  text-decoration: none;
  color: rgb(50, 50, 50);
  transform: scale(1, 1);
  display: inline-block;
  margin: 0 30px;
  margin-top: 20px;
}

header.header ul.ul_list li a:hover {
  color: rgb(103, 103, 103);
  transform: scale(1.1);
  
}



/* ============ 導覽列 icon ========= */
header.header div.nav_icon {
  display: inline-block;
  /* border: 1px solid darkgreen; */
  position: absolute;
  right: 0;
  margin-top: 10px;
}

header.header div.nav_icon a {
  display: inline-block;
  text-decoration: none;
  /* border: 1px solid darkgreen; */
}

header.header div.nav_icon a img {
  /* border: 1px solid darkorchid; */
  display: inline-block;
  margin: 4px 6px;
  width: 23px;
  height: 23px;
}

/*========= shopping cart header========== */
main.main{
  border: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
}

main.main section.cart_header{
  border: 2px solid #cccccc;
}

main.main section.cart_header div.shop_title{
  border-bottom: 2px solid #cccccc;

}

main.main ul.information{
  /* border: 1px solid darkgoldenrod; */
  padding: 0;
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(4,auto);
  text-align: center;
}

main.main ul.information li{
  /* border: 1px solid darkgreen; */
  list-style: none;
  padding:5px;
}
main.main ul.information li :nth-child(1){

}

main.main section.cart_header div.shop_details{
  /* border: 1px solid darkred; */
  display: flex;
  justify-content: space-between;
}


main.main section.cart_header div.col1{
  width: 250px;
  /* border: 1px solid darkorchid; */
  display: flex;
}

main.main section.cart_header div.content_box >p{
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

main.main section.cart_header div.col1 > img{
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}

main.main section.cart_header div.col2{
  /* border: 1px solid darkgreen; */
  margin-left: 15px;
  padding-top: 18px;
}

main.main section.cart_header div.col2 > span{
  display: block;
}

main.main section.cart_header div.col2 > span:last-child{
  text-decoration: line-through;
}

main.main section.cart_header div.col3{
  padding-top:25px;
  margin-left: 20px;
  ;
}

main.main section.cart_header div.col4{
  /* border: 1px solid darkgoldenrod; */
  width: 170px;
  padding-top: 25px;
}

/*========= shopping cart footer========== */
div.cart_footer{
  /* border: 1px solid red; */
  margin: 30px 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: space-between;
  
}

div.cart_footer div.left{
  border: 2px solid #cccccc;
  width: 700px;
}

div.cart_footer div.left div.form_group{
padding: 15px;
/* border: 1px solid red; */
}

div.cart_footer div.left h3{
  border-bottom: 2px solid #cccccc;
  padding: 10px;
  margin: 0;
  background-color: #e3e3e3;
}

div.left div.form_group select{
  height: 35px;
  width: 600px;
}

div.right{
  border: 2px solid #cccccc;
  width: 400px;
  /* padding: 10px; */
}

div.right h3{
  border-bottom: 2px solid #cccccc;
  margin:0;
  padding: 10px;
  background-color: #e3e3e3;
}

div.right div.subtotal,div.freight,div.total > span{
  /* border: 1px solid darkgoldenrod; */
  display: block;
  padding: 5px;
  margin-top: 20px;
  margin-left: 8px;
}


div.right div.total{
  margin-top: 80px;
  border-top:2px solid #cccccc;
  font-weight: bold;
}



div.right div.btn button{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  font-size: medium;
  margin-top: 20px;
}

div.right div.btn button:hover{
  background-color: black;
  opacity: 85%;
}

/* ============ footer ========== */

footer div.footer_flex {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

footer div.customer {
  /* border: 2px solid purple; */
}

footer div.customer ul {
  padding: 0;
}

footer div.customer ul li > a {
  text-decoration: none;
  display: block;
  color: rgb(50, 50, 50);
  margin-bottom: 5px;
  font-size: 14px;
}

footer div.customer ul > li {
  list-style: none;
}

footer div.connection {
  /* border: 2px solid darkgoldenrod; */
}

footer div.connection ul > li {
  list-style: none;
}

footer div.connection ul {
  padding: 0;
}

footer div.community p {
  width: 150px;
  margin: 0 auto;
}

footer div.community p a {
  margin: 0 10px;
}

footer div.community p a > img {
  width: 20px;
  height: 20px;
}

footer p.reference {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 45, 45);
  font-weight: bold;
}
